@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width: 768px) {
  /* width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #BCBDC0;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #BCBDC0;
  }
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #BCBDC0;
  border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #BCBDC0;
}

/* Toggle Checbox */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .toggle-line {
  background-color: #00AC64;
}

input[type="checkbox"]:disabled:checked + .toggle-line {
  background-color: #00AC64;
  opacity: 0.50;
  cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked + .ceki {
  cursor: not-allowed;
}

.readonly:checked + .toggle-line {
  background-color: red; /* Change to your desired color */
}

/* nav  */
.nav-menu {
  @apply text-secondary-500 bg-transparent md:bg-white md:border-b md:border-white  md:hover:text-secondary-900 md:hover:border-black;
}

.nav-menu-active {
  @apply bg-transparent text-secondary-900 md:border-b md:border-black;
}

.nav-menu-mobile {
  @apply p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden hover:bg-gray-100
}
/* nav  */


/* tabs underline button  */
/* .tab-list {
  @apply text-secondary-300 mr-5 cursor-pointer hover:text-secondary-900 hover:underline;
} */

.tab-list {
  @apply text-sm font-medium text-center text-secondary-300 rounded-lg mr-5 cursor-pointer hover:text-secondary-900 hover:underline;
}

.tab-list-badge{
  @apply w-4 h-4 ms-2 text-[11px] font-semibold text-white bg-cloudy-70 rounded-full;
}

.active-tab {
  @apply text-secondary-900 mr-5 underline cursor-default;
}

.active-tab .tab-list-badge {
  @apply bg-black;
}

.tab-list-2 {
  @apply w-full text-cloudy-50 border-b-2 border-cloudy-50 px-3 py-2 md:px-5 md:py-[15px] hover:text-cloudy-120 hover:border-cloudy-110;
}

.active-tab-2 {
  @apply  text-cloudy-120 border-cloudy-110;
}

.active-tab-3{
  @apply bg-primary-500 text-semi_black-100;
}

.active-tab-3 .span {
  @apply bg-cloudy-30 text-semi_black-100;
}
/* tabs underline button  */

/* button  */
.btn {
  @apply text-sm font-medium rounded-lg px-5 py-2.5 whitespace-nowrap;
}

.btn-sm {
  @apply text-sm rounded-md px-4 py-2 whitespace-nowrap;
}

.btn-lg {
  @apply text-sm font-bold rounded-lg px-5 py-2.5 whitespace-nowrap;
}

.btn-p-lg {
  @apply px-4 py-3;
}

.btn-success {
  @apply text-white bg-green-btn border border-green-btn hover:bg-green-700 hover:border-green-700;
}

.btn-primary {
  @apply text-cloudy-120 bg-primary-500 border border-primary-500 focus:outline-none focus:ring-2 focus:ring-primary-700 hover:bg-primary-700 hover:border-primary-700 disabled:cursor-not-allowed disabled:bg-yellow-20 disabled:text-cloudy-70 disabled:border-yellow-20;
}

.btn-default {
  @apply text-cloudy-120 bg-white border border-[#1A202C] hover:bg-gray-100;
}

/* button  */

/* button outline  */
.btn-outline-success {
  @apply text-green-btn bg-white border border-green-btn hover:bg-green-700 hover:text-white;
}
/* button outline */


/* badge  */
.badge {
  @apply text-sm px-3 py-1 rounded-2xl;
}

.badge-default {
  @apply bg-gray-100 text-gray-700;
}

.badge-gray {
  @apply font-medium bg-gray-100 text-gray-700;
}

.badge-warning {
  @apply font-medium bg-warning-50 text-warning-700;
}

.badge-blue {
  @apply font-medium bg-blue_2-50 text-blue_2-700;
}

.badge-error {
  @apply font-medium bg-error-50 text-error-700;
}

.badge-green {
  @apply font-medium bg-success-50 text-success-700;
}

.badge-orange {
  @apply font-medium bg-orange_2-50 text-orange_2-700;
}

.badge-primary {
  @apply font-medium bg-primary-2 text-primary-500;
}

.badge-blue2 {
  @apply font-medium bg-blue_2-20 text-blue_general;
}

.badge-gray2 {
  @apply font-medium bg-cloudy-30 text-cloudy-80;
}

.badge-orange2 {
  @apply font-medium bg-orange_2-20 text-warning_b_general;
}

.badge-green2 {
  @apply font-medium bg-green_2-20 text-green_general;
}

.active-badge {
  @apply font-medium
}

.active-badge span {
  @apply block
}
/* badge  */

/* input  */
.form-control {
  @apply text-sm border rounded-lg block w-full p-2.5 bg-white border-secondary-100 focus:outline-none focus:border-primary-500 focus:ring-0 focus:ring-primary-500;
}

.form-control-none {
  @apply text-sm rounded-lg block w-full outline-none focus:outline-none;
}

.form-rounded {
  @apply rounded;
}

.form-control-search {
  @apply text-base border border-primary-500 block px-2 py-2 pe-10 bg-white rounded-lg focus:outline-none focus:border-primary-500 focus:ring-0 focus:ring-primary-500;
}

.form-control-search-mobile {
  @apply border rounded-lg block w-full p-2.5 pl-10 bg-white border-secondary-100 focus:outline-none focus:border-primary-500 focus:ring-0 focus:ring-primary-500;
}

.label-control-lg {
  @apply block mb-2 text-lg text-gray_2-900;
}

.label-control {
  @apply block text-sm font-medium text-black;
}
/* input  */


/* checkbox  */
.custom-checkbox {
  @apply w-5 h-5 text-squash-3 border border-gray-300 rounded-md focus:ring-white disabled:text-secondary-100
}

.label-checkbox {
  @apply w-full text-sm font-medium text-secondary-900;
}
/* checkbox  */

/* table  */
.table-responsive {
  @apply min-w-full text-sm text-left rtl:text-right border-separate border-spacing-0;
}

.thead-bold {
  @apply text-base font-medium text-secondary-900 bg-cloudy-30 border border-cloudy-140;
}

.thead-col {
  @apply px-6 py-2 border border-cloudy-140;
}

.thead-col-sm {
  @apply px-2 py-1 border border-cloudy-140;
}

.tbody-sm {
  @apply bg-white text-sm text-secondary-900 border border-cloudy-140;
}

.tbody-col {
  @apply px-3 py-4 border border-cloudy-140;
}

.tbody-col-sm {
  @apply px-3 py-1 border border-cloudy-140;
}

/* table  */

/* pagination  */
.pagination {
  @apply text-sm text-gray-700 font-medium inline-flex -space-x-px rtl:space-x-reverse justify-center h-8 md:h-10 w-full md:w-auto md:justify-end;
}

.page-item {
  @apply px-3.5 h-10 md:px-4 md:h-10 leading-tight bg-white border border-gray-300 hover:bg-gray-100;
}

.page-item-previous {
  @apply px-3.5 h-10 md:px-4 md:h-10 ms-0 leading-tight bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700;
}

.page-item-next {
  @apply px-3.5 h-10 md:px-4 md:h-10 leading-tight bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100;
}

.page-item-active {
  @apply text-white border-gray-300 bg-primary-500 hover:bg-primary-700 hover:text-white;
}

.page-rows {
  @apply text-sm text-white bg-cloudy-80 rounded w-12 -my-1;
}

.page-rows-item {
  @apply w-12 p-2 cursor-pointer hover:bg-cloudy-90;
}
/* pagination  */

/* global  */
.ring-default {
  @apply focus:outline-none focus-visible:ring;
}
/* global  */

/* scroll  */

